In [1]:
import pandas
import numpy

# Tratamento de dados

## Lê o dataset e converte os dados para os tipos corretos

In [2]:
df = pandas.read_csv('dataset.csv')
df['quality_id'] = df['quality_id'].astype('category')
df

     bit_length  request_time quality_id
0        246000  32138.250163     424520
1       1001968  32138.328185     808057
2        925152  32138.540909    1312787
3       2017528  32138.737442    1662809
4       2000728  32139.165502    1662809
..          ...           ...        ...
592      323928  32874.915077     352546
593      356568  32875.094521     352546
594      288896  32875.229367     352546
595      153760  32875.557518     352546
596           0  32876.005983     352546

[597 rows x 3 columns]

## Normaliza os dados para treinamento

In [8]:
df_max_scaled = df.copy()

# Normaliza colunas float
for column in ['bit_length', 'request_time']:
    df_max_scaled[column] = df_max_scaled[column]  / df_max_scaled[column].abs().max()

# Converte coluna de qualidades para range 0,19
quality_map = {46980: 0, 91917: 1, 135410: 2, 182366: 3, 226106: 4, 270316: 5, 352546: 6, 424520: 7, 537825: 8, 620705: 9, 808057: 10, 1071529: 11, 1312787: 12, 1662809: 13, 2234145: 14, 2617284: 15, 3305118: 16, 3841983: 17, 4242923: 18, 4726737: 19}
df_max_scaled.replace({'quality_id': quality_map}, inplace=True)
df_max_scaled

     bit_length  request_time  quality_id
0      0.110151      0.977559           7
1      0.448651      0.977562          10
2      0.414256      0.977568          12
3      0.903389      0.977574          13
4      0.895867      0.977587          13
..          ...           ...         ...
592    0.145045      0.999967           6
593    0.159661      0.999972           6
594    0.129359      0.999976           6
595    0.068849      0.999986           6
596    0.000000      1.000000           6

[597 rows x 3 columns]

## Opcional: tratamentos opcionais

In [4]:
# Remoção de outliers

# Treinamento de modelo

In [16]:
from sklearn import svm
from sklearn.model_selection import train_test_split

In [26]:
# Separação de dados de treinamento e validação

X = df_max_scaled.drop(columns=['quality_id']).copy()
y = df_max_scaled['quality_id']

train_size = 0.7
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=train_size)

X_train.shape

(417,)

In [23]:
# Treina o modelo

model = svm.SVC()
model.fit(X_train, y_train)
model

SVC()

In [52]:
# Faz predição com um valor de teste
x = numpy.array(X_test.iloc[0])
y = numpy.array(y_test.iloc[1])

prediction = model.predict([X_test.iloc[0]])
print(f'Prediction = {prediction[0]}')
#y = y_test[0]

Prediction = 10

/home/matheus/.local/lib/python3.9/site-packages/sklearn/base.py:441: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(

## Avaliação do modelo